<form id="connectForm" class="form-connect">

  <div class="media">
    <img class="d-flex align-self-center mr-2" src="{{icon}}" alt="Icon" width="32" height="32">
    <div class="media-body">
      <h5 class="media-header">{{header}}</h5>
    </div>
  </div>

  <label for="inputUsername" class="sr-only">Придумайте себе ник</label>
  <input type="text" id="inputUsername" class="form-control" placeholder="Придумайте себе ник" data-toggle="popover" data-trigger="focus">

  <button id="connectButton" class="btn btn-lg btn-primary btn-block" type="submit">Создать аккаунт</button>

  <div class="alert alert-warning fade show" id="connectAlert" role="alert">
    <span id="connectAlertText"></span>
  </div>
</form>

<script src="/javascripts/auth-connect.js"></script>