<div class="container chat-body">
  <h3>Чат</h3>
  <div class="chat-panel">
    <ul class="chat">
    </ul>
    <form id="sendForm">
      <small class="ml-1" id="activity">&nbsp;</small>
      <div class="input-group">
        {{#if user}}
          <input id="messageInput" type="text" class="form-control" autocomplete="off" placeholder="Сообщение">
        {{else}}
          <input id="messageInput" type="text" class="form-control" autocomplete="off" placeholder="Для отправки сообщений вы должны авторизоваться" readonly>
        {{/if}}
        <span class="input-group-btn">
        <button class="btn btn-secondary" type="submit" {{#unless user}}disabled{{/unless}}>Отправить</button>
      </span>
      </div>
    </form>
  </div>
</div>

<script src="/javascripts/chat.js"></script>