<div class="jumbotron">

  <div class="col-sm-10 mx-auto row">
    <h1 class="display-4 home-header">Используемые технологии</h1>
    <div class="col-lg-5">
      <h4>Nginx</h4>
      <p>SSL Let's Encrypt, Reverse Proxy</p>

      <h4>Node.js</h4>
      <p>Express, Mongoose, Passport, Socket.io</p>
    </div>

    <div class="col-lg-5">
      <h4>MongoDB</h4>
      <p>Session store, Users</p>

      <h4>Ubuntu</h4>
      <p>Firewall, Public Key Authentication, PM2</p>
    </div>
  </div>
</div>