<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <script src="/javascripts/jquery-3.2.1.js"></script>
  <script src="/javascripts/tether.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
  <link rel='stylesheet' href='/stylesheets/tether.css'/>
  <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
  <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<div class="container">
  <nav class="navbar navbar-light bg-faded rounded navbar-toggleable-md">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#containerNavbar" aria-controls="containerNavbar" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">bondarevk</a>

    <div class="collapse navbar-collapse" id="containerNavbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Главная <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Чат</a>
        </li>

      </ul>
      <div class="btn-group">
        <button type="button" class="btn btn-outline-info btn-sm" disabled>LockDown</button>
        <button type="button" class="btn btn-outline-info btn-sm dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="#">Личный кабинет</a>
          <a class="dropdown-item" href="#">Пользователи</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Выход</a>
        </div>
      </div>
    </div>
  </nav>
  {{{body}}}
</div>
</body>
</html>
