<form id="loginForm" class="form-signin">
  <h2 class="form-signin-heading">Вход</h2>
  <label for="inputUsername" class="sr-only">Логин</label>
  <input type="text" id="inputUsername" class="form-control" placeholder="Логин" required autofocus>
  <label for="inputPassword" class="sr-only">Пароль</label>
  <input type="password" id="inputPassword" class="form-control" placeholder="Пароль" required>
  <button id="loginButton" class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
  <div class="alert alert-warning fade show" id="loginAlert" role="alert">
    <span id="loginAlertText"></span>
  </div>
</form>

<script src="/javascripts/login.js"></script>