<form id="signinForm" class="form-signin">

  <h2 class="form-signin-heading">Вход</h2>
  <label for="inputUsername" class="sr-only">Логин</label>
  <input type="text" id="inputUsername" class="form-control" placeholder="Логин" required autofocus>
  <label for="inputPassword" class="sr-only">Пароль</label>
  <input type="password" id="inputPassword" class="form-control" placeholder="Пароль" required>
  <button id="signinButton" class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>


  <a class="btn btn-outline-primary connect-btn" href="/auth/vkontakte" role="button">Вконтакте</a>
  <a class="btn btn-outline-primary connect-btn" href="/auth/google" role="button">Google</a>


  <div class="alert alert-warning fade show" id="signinAlert" role="alert">
    <span id="signinAlertText"></span>
  </div>
</form>

<script src="/javascripts/signin.js"></script>